/* styles.css */

.container {
    margin-top: 200px; /* Отступ сверху для выравнивания под шапкой */
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-feedback {
    color: #dc3545;
    font-size: 80%;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Ваш CSS файл */
.card {
    max-width: 600px; /* Установка максимальной ширины карточки */
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-body {
    padding-bottom: 20px; /* Добавление отступа между текстом и изображением */
}

.card-img {
    width: 100%; /* Установка ширины изображения внутри карточки */
    height: auto; /* Автоматическое определение высоты изображения */
    margin-bottom: 20px; /* Добавление отступа после изображения */
}
