body{
    margin: 0;
    padding: 0;
    min-height: 50vh;
    background: #161f6db4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.wrapper{
    width: 1200px; /* Увеличиваем ширину контейнера */
    height: 650px;
    transform: translate3d(0px, -100px, 0) scale(1);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Центрируем контейнер */
}

.cards{
    display: flex;
    /* transition: transform 0.5s ease; */
}

.card{
    width: 400px;
    height: 220px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 100px;
}

.card .face{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.card .face.face1{
    position: relative;
    background: #a5a4a4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* transform: translateY(100px); */
}

.card:hover .face.face1{
    background: #161f6d;
    /* transform: translateY(0); */
}

/* .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
} */

.card:hover .face.face1 .content{
    opacity: 1;
}

.card .face.face1 .content img{
    max-width: 150px;
}

.card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.8);
    /* transform: translateY(-100px); */
}

.card:hover .face.face2{
    transform: translateY(0);
}

.card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.card .face.face2 .content a:hover{
    background: #161f6d;
    color: #fff;
}

.prev, .next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background-color: #161f6db4;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 40px 15px;
    z-index: 2;
    transition: background-color 0.3s;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.butt {
    float: right;
    display: flex;
    margin-top: 20px;
}

.li1 {
    background-color: orange;
    margin-right: 30px;
}


.heart {
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.heart .heart-flip {
    --base: 20px;
    --duration: 0.6s;
    --active: #ea4673;
    --inactive: #d1d6ee;
    width: var(--base);
    height: calc(var(--base) + var(--base) / 2);
    border-radius: calc(var(--base) / 2) calc(var(--base) / 2) 0 0;
    position: relative;
    transform-origin: 50% 66.66%;
    transform-style: preserve-3d;
    transform: rotate(var(--rotate, -45deg));
    transition: background var(--duration), transform var(--duration) ease;
    background: var(--heart-background, var(--inactive));
}

.heart .heart-flip:before, .heart .heart-flip:after {
    content: "";
    width: calc(var(--base) / 2);
    height: var(--base);
    border-radius: var(--pseudo-border-radius, calc(var(--base) / 2) 0 0 calc(var(--base) / 2));
    position: absolute;
    left: var(--pseudo-left, -50%);
    transform-origin: var(--pseudo-origin, 100%) 50%;
    bottom: 0;
    background: var(--heart-background, var(--inactive));
    filter: brightness(var(--pseudo-filter, 50%));
    transform: translateX(1%) rotateY(var(--pseudo-rotate, 90deg)) translateZ(0);
    transition: background var(--duration), transform var(--duration) ease, filter var(--duration);
}

.heart .heart-flip:after {
    --pseudo-border-radius: 0 calc(var(--base) / 2) calc(var(--base) / 2) 0;
    --pseudo-left: 100%;
    --pseudo-origin: 0;
    filter: brightness(var(--pseudo-filter-second, 100%));
    transform: translateX(-1%) rotateY(var(--pseudo-rotate-second, 0deg)) translateZ(0);
}

.heart.active .heart-flip {
    --rotate: 45deg;
    --pseudo-filter: 100%;
    --pseudo-filter-second: 50%;
    --pseudo-rotate: 0deg;
    --pseudo-rotate-second: 90deg;
    --heart-background: var(--active);
}

.heart {
    background: none;
    border: none;
    padding: 0;
    transform: scale(var(--button-scale, 1)) translateZ(0);
    transition: transform 0.2s;
}

.heart:active {
    --button-scale: 0.95;
}
