/* styles.css */

.card {
    max-width: 600px; /* Статическая ширина карточки */
    margin: 20px auto; /* Центрирование карточки */
    border: 1px solid #ccc; /* Граница карточки */
    border-radius: 10px; /* Скругление углов карточки */
    overflow: hidden; /* Скрытие выходящих за границы содержимого */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень карточки */
}

.card-body {
    padding: 20px; /* Отступы внутри карточки */
}

.card-img-left {
    float: left; /* Выравнивание изображения по левому краю */
    margin-right: 20px; /* Отступ между изображением и текстом */
    width: 150px; /* Ширина изображения */
    height: auto; /* Автоматическая высота изображения */
    border-radius: 10px; /* Скругление углов изображения */
}


/* CSS стили для кнопок лайка и дизлайка */
.like-button,
.dislike-button {
    font-size: 24px; /* Размер иконки */
    padding: 0; /* Убираем отступы */
    border: none; /* Убираем границу */
    background: none; /* Убираем фон */
    cursor: pointer; /* Изменяем указатель мыши на указатель */
}

.like-button i,
.dislike-button i {
    color: #28a745; /* Цвет иконки лайка */
}

.dislike-button i {
    color: #dc3545; /* Цвет иконки дизлайка */
}

/* Добавим немного отступа между кнопками */
.card-footer .btn {
    margin-right: 5px;
}
