/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 2px solid #755656;
    border-radius: 5px;
    box-sizing: border-box;
    backdrop-filter: blur(55px)
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 30px 60px;
    margin-top: 70px; /* Увеличиваем отступы */
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute; /* Позиционируем абсолютно */
    left: 50%; /* Размещаем слева от центра */
    top: 50%; /* Размещаем сверху от центра */
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #555;
}

.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #555;
}

.regsuccess {
    text-decoration: none;
    
}