{% extends "base.html" %}

{% block title %}Поделись идеей{% endblock %}



{% block content %}
<div class="txt_con">
    {% block txt %}
    <div class="txt">
        <h1>ДЛЯ ДОБАВЛЕНИЯ СОВСТВЕННОЙ ИДЕИ ЗАПОЛНИТЕ ДАННУЮ ФОРМУ</h1>
    </div>
    {% endblock %}
</div>
<div class="save">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{{ url_for('create_idea') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.idea.label(class="form-label") }}
                    {{ form.idea(class="form-control") }}
                    {% for error in form.idea.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Добавить изображение</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
