{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2>Войти в профиль</h2>
    <form action="/login" method="post" class="login-form">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Введите пароль</label><br>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Войти"><br>
        <a href="/reset" class="button">Восстановить пароль</a>
    </form>
{% endblock %}