{% extends "base.html" %}

{% block title %}Приветствие{% endblock %}

{% block content %}
    <h1 class="text-center">Добро пожаловать на наш сайт!</h1>
    <p class="lead text-center">Добро пожаловать на наш уникальный портал, где вы сможете окунуться в мир интересных статей, захватывающих историй и вдохновляющих идей. Мы стремимся создать пространство, где каждый найдет что-то для себя – будь то новости из мира науки и технологий, советы по саморазвитию, интервью с успешными людьми или просто уютное место для приятного времяпрепровождения. Присоединяйтесь к нам и давайте вместе делать этот мир лучше!</p>
    <div class="buttons mt-5 text-center">
        <a href="/scrolling.html" class="btn btn-secondary btn-lg">Пролистать</a>
    </div>
{% endblock %}