{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <section class="registration-form">
        <div class="registration-form-bg"></div> <!-- Элемент для заднего фона формы -->
        <div class="registration-form">
            <h2>Регистрация</h2>
            <form action="/registration" method="post">
                <label for="username">Имя пользователя:</label><br>
                <input type="text" id="username" name="username" required><br>

                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br>

                <label for="password">Придумайте пароль:</label><br>
                <input type="password" id="password" name="password" required><br>

                <label for="confirm_password">Поддвердите пароль:</label><br>
                <input type="password" id="confirm_password" name="confirm_password" required><br>

                <input type="submit" value="Зарегистрироваться">
            </form>
        </div>
    </section>
{% endblock %}
