{% extends "base.html" %}

{% block title %}Card Hover Effects{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<div class="txt_con3">
    {% block txt3 %}
    <div class="txt3">
        <h1>УЗНАТЬ ИДЕИ ДРУГИХ ПОЛЬЗОВАТЕЛЕЙ</h1>
    </div>
    {% endblock %}
</div>
<div class="wrapper">
    <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
    {% for card in cards %}
    <div class="cards">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="{{ card.image_url }}">
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>{{ card.content }}</p>
                    <div class="donate"></div>
                    <a href="#">Читать далее</a>
                    <div class="butt">
                        <div class="donate">
                            <button class="li1">donate</button> 
                        </div>
                        <button class="heart">
                            <div class="heart-flip"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <button class="next" onclick="plusSlides(1)">&#10095;</button>
</div>
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
{% endblock %}
